* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line-break {
    width: 100%;
    border: none;
}

/* Header start */

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-image: url(../images/header-background.jpg);
    background-position: center;
}

.profile-picture {
    border-radius: 50px;
    margin-right: 50px;
    border: 5px black solid;
}

.intro-text {
    padding: 75px 50px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-image: url(../images/pattern.jpg);
    border: 5px solid #000000;
}

nav {
    font-size: 24px;
    color: #ffffff;
    margin-top: 50px;
    background-image: url(../images/pattern.jpg);
    padding: 25px 35px 30px 50px;
    border-radius: 5px;
    border: 5px solid #000000;
}

nav ul li {
    color: purple;
}

/* Header end */

/* About me start */

article {
    background-color: #000000;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    padding: 50px 50px;
}


article div {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    border: 10px #791e9a solid;
    width: 55%;
    padding: 10px;
}

/* About me end */

/* Projects start */

main {
    background-color: #000000;
    padding-bottom: 100px;
}

main h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 50px;
}

/* Main project */

.main-project {
    text-align: center;
}

.main-project h2 {
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 30px;
}

.main-project-image {
    width: 75%;
    border: 5px solid #791e9a;
}

.main-project-image:hover {
    filter: blur(2px);
}

/* Minor projects */

.column-container {
    display: flex;
    flex-wrap: wrap;
}

.column1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.column2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

/* Project 1 */

.project-1 {
    text-align: center;
    margin: 25px 0px 0px 150px;
}

.project-1 h2 {
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 30px;
}

.project1-image {
    width: 100%;
    border: 5px solid #791e9a;
}

.project1-image:hover {
    filter: blur(2px);
}

/* Project 2 */

.project-2 {
    text-align: center;
    margin: 25px 0px 0px 150px;
}

.project-2 h2 {
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 30px;
}

.project2-image {
    width: 100%;
    border: 5px solid #791e9a;
}

.project2-image:hover {
    filter: blur(2px);
}

/* Project 3 */

.project-3 {
    text-align: center;
    margin: 25px 50px 0px 0px;
}

.project-3 h2 {
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 30px;
}

.project3-image {
    width: 55%;
    border: 5px solid #791e9a;
}

.project3-image:hover {
    filter: blur(2px);
}

/* Project 4 */

.project-4 {
    text-align: center;
    margin-right: 50px;
}

.project-4 h2 {
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 30px;
}

.project4-image {
    width: 80%;
    border: 5px solid #791e9a;
}

.project4-image:hover {
    filter: blur(2px);
}

/* Projects end */

/* Reach out start */

.footer {
    padding: 50px 50px;
    background-image: url(../images/header-background.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reach-out {
    padding: 30px 50px 50px 50px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
}

.reach-out h1 {
    padding-bottom: 30px;
}

.reach-out p {
    font-size: 20px;
}

.reach-out ul {
    padding-top: 20px;
    font-size: 20px;
    list-style-type: none;
    line-height: 2;
}

/* Reach out end */

/* Smaller screen responsiveness start */

@media screen and (max-width: 911px) {
    .intro {
        flex-direction: column;
    }

    .profile-picture {
        margin: 10px 0px 20px 0px;
    }

    .main-project-image {
        width: 80%;
    }

    .column-container {
        flex-direction: column;
    }

    .column1 {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }

    .project-1 {
        margin: 25px 0px 0px 0px;
    }
    
    .project1-image {
        width: 75%;
    }

    .project-2 {
        margin: 25px 0px 0px 0px;
    }
    
    .project2-image {
        width: 75%;
    }

    .project-3 {
        margin: 25px 0px 0px 0px;
    }
    
    .project3-image {
        width: 75%;
    }

    .project-4 {
        margin: 25px 0px 0px 0px;
    }
    
    .project4-image {
        width: 75%;
    }
}